openapi: 3.0.1
info:
  title: SMSAPI REST 2FA Profile API
  description: Representative OpenAPI description of the SMSAPI messaging platform, a European bulk-messaging provider (part of LINK Mobility). Covers SMS, MMS, voice (VMS), contacts, sender names, two-factor authentication, subusers, account profile, HLR lookup, blacklist, and short URLs. Requests are authenticated with an OAuth 2.0 bearer token issued from the SMSAPI customer panel.
  termsOfService: https://www.smsapi.com/en/terms
  contact:
    name: SMSAPI Support
    url: https://www.smsapi.com/docs/
    email: bok@smsapi.pl
  version: '1.0'
servers:
- url: https://api.smsapi.com
  description: Global endpoint (com)
- url: https://api.smsapi.eu
  description: European endpoint (eu)
security:
- bearerAuth: []
tags:
- name: Profile
paths:
  /profile:
    get:
      operationId: getProfile
      tags:
      - Profile
      summary: Get account profile and balance.
      description: Returns account profile details and the current points (credit) balance.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
components:
  schemas:
    Profile:
      type: object
      properties:
        username:
          type: string
        points:
          type: object
          properties:
            points:
              type: number
        payment_type:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token generated in the SMSAPI customer panel (API Tokens).
