openapi: 3.0.1
info:
  title: SMSAPI REST 2FA Blacklist API
  description: Representative OpenAPI description of the SMSAPI messaging platform, a European bulk-messaging provider (part of LINK Mobility). Covers SMS, MMS, voice (VMS), contacts, sender names, two-factor authentication, subusers, account profile, HLR lookup, blacklist, and short URLs. Requests are authenticated with an OAuth 2.0 bearer token issued from the SMSAPI customer panel.
  termsOfService: https://www.smsapi.com/en/terms
  contact:
    name: SMSAPI Support
    url: https://www.smsapi.com/docs/
    email: bok@smsapi.pl
  version: '1.0'
servers:
- url: https://api.smsapi.com
  description: Global endpoint (com)
- url: https://api.smsapi.eu
  description: European endpoint (eu)
security:
- bearerAuth: []
tags:
- name: Blacklist
paths:
  /blacklist/phone_numbers:
    get:
      operationId: listBlacklist
      tags:
      - Blacklist
      summary: List blacklisted phone numbers.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlacklistCollection'
    post:
      operationId: addBlacklistNumber
      tags:
      - Blacklist
      summary: Add a phone number to the blacklist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlacklistInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlacklistEntry'
  /blacklist/phone_numbers/{phoneNumber}:
    delete:
      operationId: removeBlacklistNumber
      tags:
      - Blacklist
      summary: Remove a phone number from the blacklist.
      parameters:
      - name: phoneNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
components:
  schemas:
    BlacklistEntry:
      type: object
      properties:
        phone_number:
          type: string
        created_at:
          type: string
    BlacklistInput:
      type: object
      properties:
        phone_number:
          type: string
      required:
      - phone_number
    BlacklistCollection:
      type: object
      properties:
        size:
          type: integer
        collection:
          type: array
          items:
            $ref: '#/components/schemas/BlacklistEntry'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token generated in the SMSAPI customer panel (API Tokens).
