openapi: 3.0.1
info:
  title: SMSAPI REST 2FA Subusers API
  description: Representative OpenAPI description of the SMSAPI messaging platform, a European bulk-messaging provider (part of LINK Mobility). Covers SMS, MMS, voice (VMS), contacts, sender names, two-factor authentication, subusers, account profile, HLR lookup, blacklist, and short URLs. Requests are authenticated with an OAuth 2.0 bearer token issued from the SMSAPI customer panel.
  termsOfService: https://www.smsapi.com/en/terms
  contact:
    name: SMSAPI Support
    url: https://www.smsapi.com/docs/
    email: bok@smsapi.pl
  version: '1.0'
servers:
- url: https://api.smsapi.com
  description: Global endpoint (com)
- url: https://api.smsapi.eu
  description: European endpoint (eu)
security:
- bearerAuth: []
tags:
- name: Subusers
paths:
  /subusers:
    get:
      operationId: listSubusers
      tags:
      - Subusers
      summary: List subusers.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubuserCollection'
    post:
      operationId: createSubuser
      tags:
      - Subusers
      summary: Create a subuser.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubuserInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subuser'
  /subusers/{subuserId}:
    get:
      operationId: getSubuser
      tags:
      - Subusers
      summary: Get a subuser.
      parameters:
      - $ref: '#/components/parameters/SubuserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subuser'
    put:
      operationId: updateSubuser
      tags:
      - Subusers
      summary: Update a subuser.
      parameters:
      - $ref: '#/components/parameters/SubuserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubuserInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subuser'
    delete:
      operationId: deleteSubuser
      tags:
      - Subusers
      summary: Delete a subuser.
      parameters:
      - $ref: '#/components/parameters/SubuserId'
      responses:
        '204':
          description: No Content
components:
  schemas:
    SubuserInput:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
        active:
          type: boolean
        api_access:
          type: boolean
      required:
      - username
      - password
    SubuserCollection:
      type: object
      properties:
        size:
          type: integer
        collection:
          type: array
          items:
            $ref: '#/components/schemas/Subuser'
    Subuser:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        active:
          type: boolean
        points:
          type: object
          properties:
            from_account:
              type: boolean
            per_month:
              type: number
  parameters:
    SubuserId:
      name: subuserId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token generated in the SMSAPI customer panel (API Tokens).
